name: Build
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
        components: rustfmt, clippy
    # For some reason, building deucalion inside its own directory yields
    # a smaller binary
    - name: Build
      run: |
        cargo build --release
        cd deucalion
        cargo build --release
    - name: Build bcryptprimitives.rs shim
      run: rustc shims/bcryptprimitives.rs -Copt-level=3 -Clto=fat --out-dir target/release